.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
   
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .card-img {
      length : 50px;
      width : 5px;
  }

  .rounded {
    width: 20rem
    
  }

  .greyIt{
    background-color: rgb(235, 235, 235);
  }